<a href="https://colab.research.google.com/github/lilipolinema/TeknologiData/blob/master/pertemuan6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Membuat dictionary kosong
my_dict = {}

In [3]:
# dictionary dengan kunci integer
my_dict = {1: 'sepatu', 2: 'tas'}

In [4]:
# dictionary dengan kunci campuran
my_dict = {'warna': 'merah', 1: [2,3,5]}

mengakses anggota dictionary

In [9]:
my_dict = {'nama':'Budi', 'usia':27} 
# output: Budi 
print(my_dict['nama']) 
# output 27 
print(my_dict.get('usia'))

Budi
27

In [10]:
# Mengakses kunci yang tidak tersedia menyebabkan KeyError
my_dict['alamat']

KeyError: ignored

In [11]:
my_dict = {'nama':'Gani', 'usia':35} 
# mengupdate nilai 
my_dict['usia'] = 36 
# Output: {'nama': 'Gani', 'usia':36} 
print(my_dict) 
# menambah anggota 
my_dict['alamat'] = 'Medan'
# output: {'alamat': 'Medan', 'nama':'Gani', 'usia':36} 
print(my_dict)

{'nama': 'Gani', 'usia': 36}
{'nama': 'Gani', 'usia': 36, 'alamat': 'Medan'}

In [12]:
# membuat dictionary baru
pangkat = {1:1, 2:4, 3:9, 4:16, 5:25}

In [13]:
# menghapus anggota tertentu
# output: 9
print(pangkat.pop(3))

9

In [14]:
# menghapus anggota secara acak
# output: (1,1)
print(pangkat.popitem())

(5, 25)

In [15]:
# yang tersisa adalah {2:4, 4:16, 5:25}
print(pangkat)

{1: 1, 2: 4, 4: 16}

In [17]:
# output: {2:4, 4:16}
print(pangkat)

{1: 1, 2: 4, 4: 16}

In [18]:
# menghapus semua anggota
pangkat.clear()

In [19]:
# menghapus dictionary pangkat
del pangkat

In [20]:
# Error karena pangkat sudah dihapus
print(pangkat)

NameError: ignored

In [21]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
 print("Hi, " + nama + ". Apa kabar?") 
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Umar')

Hi, Umar. Apa kabar?

In [22]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
 print("Hi, " + nama + ". Apa kabar?") 
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Galih')

Hi, Galih. Apa kabar?

In [23]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
 print("Hi, " + nama + ". Apa kabar?") 
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Ratna')

Hi, Ratna. Apa kabar?

In [24]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
print(sapa.__doc__)
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Ratna')

Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan
sebagai parameter

In [25]:
keluaran = sapa('Gani')
print(keluaran)

None

In [27]:
sapa('Umar')

In [28]:
# akan muncul 
sapa()

TypeError: ignored

In [29]:
# definisi fungsi print_string 
def print_string( str ): 
 """Menampilkan argumen string str ke layar""" 
 print (str) 
# Kita memanggil fungsi dengan kata kunci 
print_string( str = "Hello Python")

Hello Python

In [30]:
# Definisi fungsi 
def print_info( nama, usia ): 
 """Fungsi ini menampilkan info yang dimasukkan"""
 print ("Nama: ", nama) 
 print ("Usia: ", usia) 
# Memanggil fungsi 
# output 
# Name: Budi 
# Usia: 25 
print_info( usia = 25, nama = "Budi" )

Nama:  Budi
Usia:  25

In [31]:
# Definisi fungsi 
def print_info( nama, usia= 17 ): 
 """Fungsi ini menampilkan info yang dimasukkan""" 
 print ("Nama: ", nama) 
 print ("Usia ", usia) 
# Memanggil fungsi print_info 
print_info( usia = 29, nama = "Galih" ) 
# Pemanggilan fungsi tidak menyediakan argumen usia 
print_info( nama = "Galih" )

Nama:  Galih
Usia  29
Nama:  Galih
Usia  17

In [32]:
# Definisi fungsi
def print_info( arg1, *vartuple ):
 """Fungsi untuk menampilkan nilai argumen sembarang yang
dilewatkan"""
 print ("Outputnya adalah: ")
 print (arg1)
 for var in vartuple:
    print (var)
# Pemanggilan fungsi
# Satu argumen
print_info( 10 )

Outputnya adalah:
10

In [33]:
# Empat argumen
print_info( 10, 30, 50, 70 )

Outputnya adalah:
10
30
50
70

In [34]:
total = 0
def sum( arg1, arg2 ): 
 """Menambahkan variabel dan mengembalikan hasilnya."""
 total = arg1 + arg2; 
 # total di sini adalah variabel lokal 
 print("Di dalam fungsi nilai total : ", total) 
 return total 
# Pemanggilan fungsi sum 
sum( 10, 20 ) 
print("Di luar fungsi, nilai total : ", total)

Di dalam fungsi nilai total :  30
Di luar fungsi, nilai total :  0

In [36]:
# Contoh modul python
def jumlah(a, b):
 """Fungsi ini menambahkan dua bilangan
 dan mengembalikan hasilnya"""
 result = a + b
 return result

In [40]:
# import modul sys untuk memperoleh jenis eksepsi
import sys
lists = ['a', 0, 4]
for each in lists:
 try:
  print("Masukan:", each)
  r = 1/int(each)
  break
 except:
  print("Upps!", sys.exc_info()[0], " terjadi.")
  print("Masukan berikutnya.")
  print()
print("Kebalikan dari ", each, " =", r)

Masukan: a
Upps! <class 'ValueError'>  terjadi.
Masukan berikutnya.

Masukan: 0
Upps! <class 'ZeroDivisionError'>  terjadi.
Masukan berikutnya.

Masukan: 4
Kebalikan dari  4  = 0.25

In [39]:
try:
 a = int(input("Masukkan sebuah bilangan positif: "))
 if a <= 0:
  raise ValueError("Itu bukan bilangan positif!")
except ValueError as ve:
 print(ve)

Masukkan sebuah bilangan positif: -3
Itu bukan bilangan positif!